.div1 h1{
    background-color: blueviolet;
}
.div2 h1{
    background-color: orangered;
}
h2{
    color : red;
}
.s1 h2{
    color: blue;
}
.menu{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin: 10px;
}
.active{
    background-color: aqua;
}
.content{
    display: flex;
    flex-direction: row;
}
.m1{
    height: 25vh;
    width:25%;
    border: 1px solid #000;
}
a:hover{
    color: aqua;
    text-decoration: none;
}
@media  (max-width:600px) {
    .parent_div{
        flex-direction: column;
    }
    body{
        background-color: rgb(79, 79, 227);
    }
    .menu{
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .f1{
        font-size: 40px;
    }
    
}